
p {
	background-color: orange;
	width: 300px;
	display: block;
	border: 1px;
}



.one, {
	background-color: lavender;
	display: inline;
	width: 100px;


	
}

 .two  { 
	display:block;
	width:200px;
	background-color: pink;
}

.three {
	display: inline-block;

}




.four